@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* nice scrollbars (best effort) */
*::-webkit-scrollbar { width: 10px; height: 10px; }
*::-webkit-scrollbar-thumb { background: rgb(148 163 184); border-radius: 999px; border: 2px solid rgb(241 245 249); }
*::-webkit-scrollbar-track { background: rgb(241 245 249); }
